
@{
    ViewData["Title"] = "hava";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/8e780d0fb0.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="~/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">

    <style>
    </style>
</head>
<body>
    <header>
        <div class="head-main-container">
            <div class="head-center-container">
                <div class="brand-logo-menu">
                    <i class="fas fa-bars"></i>
                    <a href="@Url.Action("Index","Home")">NEWS</a>
                    <div class="toggle-menu">
                        <i class="fas fa-bars"></i>
                        <p>Kategoriler</p>
                    </div>
                </div>
                <div class="header-options">
                    <div class="header-info">
                        <a href="#">hakkımızda</a>
                        <a href="#">Reklam</a>
                    </div>
                    <div class="social-contact">
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-twitter-square"></i></a>
                        <a href="#"><i class="fab fa-android"></i></a>
                        <a href="#"><i class="fab fa-apple"></i></a>
                    </div>
                    <div class="search-bar">
                        <input type="text" placeholder="ara">
                        <i class="fas fa-search"></i>
                    </div>
                    <div class="localization-bar">
                        <a href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <nav>
        <div class="nav-main-container">
            <div class="nav-row">
                <div class="nav-container-center">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")" class="selected-nav-section">anasayfa</a></li>
                        <li><a href="@Url.Action("hava","Home")">Hava Durumu</a></li>
                        <li><a href="@Url.Action("Global","Home")">Global</a></li>
                        <li><a href="@Url.Action("Sport","Home")">Spor</a></li>
                        <li><a href="@Url.Action("Korona","Home")">Korona Virüs Haberleri</a></li>
                        <li><a href="@Url.Action("Economy","Home")">Ekonomi</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <h1 style="text-align:center"><strong>GÜNCEL HAVA DURUMU</strong> </h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="~/images/PostsGallery/hava.jpg" alt="">

                    <div class="card-body">
                        <h5 class="card-title"><strong>İstanbul hava durumu</strong></h5>
                        <p class="card-text">
                            <strong>@ViewBag.v4 °C</strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="~/images/PostsGallery/hava.jpg" alt="">

                    <div class="card-body">
                        <h5 class="card-title"><strong>Düzce hava durumu</strong></h5>
                        <p class="card-text">
                            <strong>  @ViewBag.v6 °C</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>
</html>
